<%- contentFor('pageSection') %>

<div class = "container-md my-4">
    <h1 class="">出错啦！</h1>
    <h1>错误信息：</h1>
    <h1><%= error.status %> <%= message %></h1>

    <br>
<!--    <pre><%= error.stack %></pre>-->
</div>

