
<!doctype html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <title>欢迎注册</title>
    <!-- Bootstrap core CSS -->
    <% include ../common/header.ejs %>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        /*signin special*/
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
            /*background-position:  center top;*/
            /*background-image: url("/images/qybbg.png");*/
            /*background-size:100% 100%;*/
            /*background-repeat:no-repeat;*/
        }

        .form-signin {
            width: 100%;
            max-width: 350px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="text"] {

            margin-bottom: 10px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {

            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    </style>
</head>
<body class="text-center">

<main class="form-signin">
    <form method="post">
        <a href="/">
            <img class="mb-4" src="https://qyb-static-res-1252542694.cos.ap-beijing.myqcloud.com/logo.png" alt="" width="165" height="171">
        </a>
        <h1 class="h3 mb-3 fw-normal">欢迎来到全员杯！</h1>
        <button type="button" class="w-50 btn btn-sm mt-2 mb-4 btn-outline-danger" onclick="location='/auth/login'">已有账号？立即登录</button>
        <%if (message==='') {%>
            <h2 class="h4 mb-3 fw-normal">填写以下信息开始注册</h2>
        <%}else{%>
            <h2 class="h4 mb-3 fw-normal text-warning"><%=message%></h2>
        <%}%>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingName" placeholder="输入你的昵称" name="nickname">
            <label for="floatingName">昵称 <a class="text-secondary">(必填)</a></label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingQQ" placeholder="输入你的QQ" name="qq">
            <label for="floatingQQ">QQ号 <a class="text-secondary">(必填)</a></label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingMail" placeholder="输入你的邮箱" name="mail">
            <label for="floatingQQ">邮箱</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="输入你的密码" name="pwd">
            <label for="floatingPassword">输入密码 <a class="text-secondary">(必填)</a></label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPasswordRep" placeholder="输入你的重复密码" name="pwd-repeat">
            <label for="floatingPasswordRep">再次输入密码 <a class="text-secondary">(必填)</a></label>
        </div>
        <select class="form-select form-select-lg my-3" name="grade">
            <option selected>你的年级（可更改）</option>
            <option value="小学及以前">小学及以前</option>
            <option value="初一">初一</option>
            <option value="初二">初二</option>
            <option value="初三">初三</option>
            <option value="初一（四年制）">初一（四年制）</option>
            <option value="初二（四年制）">初二（四年制）</option>
            <option value="初三（四年制）">初三（四年制）</option>
            <option value="初四（四年制）">初四（四年制）</option>
            <option value="高一">高一</option>
            <option value="高二">高二</option>
            <option value="高三">高三</option>
            <option value="本科生">本科生</option>
            <option value="硕士生">硕士生</option>
            <option value="博士及以上">博士及以上</option>
        </select>

        <h5>密码安全性说明</h5>
        <p>全员杯不知道你的实际密码，保证存储内容计算安全，但仍然不建议你设置与QQ相同的密码，或者过于简单的密码。</p>

        <button class="w-100 mt-3 btn btn-lg btn-secondary shadow" type="submit">注册</button>

        <div class="mt-5 mb-3 text-muted">
            <% include ../common/copyright %>
        </div>
    </form>
</main>



</body>
</html>
