<div class="container-md mt-3">
    <h2 class="text-secondary my-3">上传图片资源</h2>
    <div class="alert bg-light">
        <div class="row">
            <div class="col-md my-1">
                <form id="problemImgForm" enctype="multipart/form-data">
                    <div class="input-group">
                        <input class="form-control" type= "file" name="problemImg">
                        <button class="btn btn-outline-secondary" id = "problemImgSubmit">上传</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <p class="m-2">
            <p>资源的服务器路径：</p>
            <a id="problemImgPath"></a>
            </p>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#problemImgSubmit").click(function(){
                var formData = new FormData($("#problemImgForm")[0]);
                $.ajax({
                    url: 'http://qybmath.com/res/problems/uploadImg',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType : false,
                    success: function (res) {
                        $("#problemImgPath").text(res.toString());
                    },
                    error: function (res) {
                        $("#problemImgPath").text("上传失败");
                    }
                });
            });
        });
    </script>
</div>