
<div class="container-md d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-1 mt-5 border-bottom">
    <h1 class="text-primary">创建新题目</h1>
</div>


<!--上传图片资源-->
<%include imgResources.ejs%>

<!--添加题目-->
<div class="container-md mt-5">
    <h2 class="text-secondary my-3">添加题目</h2>
<!--    题目名-->
    <input class="form-control w-25" type="hidden" id="problemDraftFilePath" value="">
    <div class="alert bg-light">
        <div class="row my-2">
            <div class="col-md p-3">
                <h5>题目名</h5>
                <input type="text" class="form-control my-3"  placeholder="输入题目名..." id="problemName" name="problemName">

            </div>
        </div>
<!--        上传题目和答案草稿-->
        <div class="row my-2">
            <div class="col-md p-3">
                <h5>题目草稿文件</h5>
                <form id="problemFile" enctype="multipart/form-data">
                    <input class="form-control my-3" type="file" name="problemDoc">
                </form>
                <label class="btn btn-outline-primary my-2" id = "problemFileSubmit">上传</label>
                <a id="problemFileSubmitStatus" class="mx-2 text-secondary"></a>
                <input type="hidden" name="docPath" id="docPath" value="">
            </div>
            <div class="col-md p-3">
                <h5>答案草稿文件</h5>
                <form id="problemAnsFile" enctype="multipart/form-data">
                    <input class="form-control my-3" type="file" name="problemDoc">
                </form>
                <label class="btn btn-outline-primary my-2" id = "problemAnsSubmit">上传</label>
                <a id="problemAnsSubmitStatus" class="mx-2 text-secondary"></a>
                <input type="hidden" name="ansPath" id="ansPath" value="">
            </div>
            <script>
                $(document).ready(function(){
                    $("#problemFileSubmit").click(function(){
                        var formData = new FormData($("#problemFile")[0]);
                        $.ajax({
                            url: 'http://qybmath.com/res/problems/uploadDoc',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType : false,
                            success: function (res) {
                                $("#docPath").val(res.toString());
                                $("#problemFileSubmitStatus").text("上传成功");
                            },
                            error: function (res) {
                                $("#problemFileSubmitStatus").text("上传失败");
                            }
                        });
                    });
                    $("#problemAnsSubmit").click(function(){
                        var formData = new FormData($("#problemAnsFile")[0]);
                        $.ajax({
                            url: 'http://qybmath.com/res/problems/uploadDoc',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType : false,
                            success: function (res) {
                                $("#ansPath").val(res.toString());
                                $("#problemAnsSubmitStatus").text("上传成功");
                            },
                            error: function (res) {
                                $("#problemAnsSubmitStatus").text("上传失败");
                            }
                        });
                    });
                });
            </script>
        </div>
<!--        题目-->
        <div class="row my-2">
            <h5 class="mt-3">题目内容HTML编辑器</h5>
            <p>对题目进行正式排版；
                <br>图片：上传图片资源后以相对路径插入。
                <br>公式：\$你的LaTeX行内公式\$，\$\$整行公式\$\$；
            </p>
            <form method="post">
                <textarea id="problemContent"></textarea>
            </form>
            <script>
                tinymce.init({
                    selector: '#problemContent',
                    language:'zh_CN',
                    plugins: 'code link image paste table print help emoticons',
                    toolbar: 'code | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                        'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                        'forecolor backcolor emoticons | help | tools'
                });
            </script>
        </div>
<!--        答案-->
        <div class="row my-2">
            <h5 class="mt-3">题目答案HTML编辑器</h5>
            <p>在此编辑题目答案</p>
            <form method="post">
                <textarea id="problemAns"></textarea>
            </form>
            <script>
                tinymce.init({
                    selector: '#problemAns',
                    language:'zh_CN',
                    plugins: 'code link image paste table print help emoticons',
                    toolbar: 'code | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                        'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                        'forecolor backcolor emoticons | help | tools'
                });
            </script>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="my-3 btn btn-primary" id = "problemSubmit">提交</label>
            </div>

        </div>
    </div>
</div>
<!--jbji wdcr-->

<script>
    $(document).ready(function(){
        $("#problemSubmit").click(function(){
            var text1 = tinyMCE.get('problemContent');
            var text2 = tinyMCE.get('problemAns');
            text1.setProgressState(1); // Show progress
            text2.setProgressState(1);
            $.post("/res/problems/submit",
                {
                    Name: $("#problemName").val(),
                    DraftFilePath: $("#docPath").val(),
                    ProblemObject: text1.getContent(),
                    DraftAnsPath: $("#ansPath").val(),
                    AnswerObject: text2.getContent()
                },
                function(data,status){
                    // alert("数据: \n" + data + "\n状态: " + status);
                    //status: success error
                    text1.setProgressState(0);
                    text2.setProgressState(0);
                    alert(data);
                }
            );
        });
    });



</script>