
<div class="container-md d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-1 mt-5 border-bottom">
    <h1 class="text-success">设置比赛题目</h1>
</div>

<div class="container-md mt-3">
    <p class="text-success">比赛题目的设计逻辑是，
        给定题目列表，从中选择题目，指定其小题号、题目序号、分值等信息，
        构成一道被添加到比赛中的题目；题目的大题号需要单独创建大题号对象，然后将其指定给比赛题目。</p>
    <p>渲染时，渲染为：大题号、大题号描述；小题号.(小题号分值)小题号内容；小题号.(小题号分值)小题号内容。</p>
</div>