<aside class="bd-aside sticky-xl-top text-muted align-self-start px-2 mb-3 mb-xl-5">
    <h2 class="h6 pt-4 pb-3 mb-4 border-bottom"><a href="/dashboard/"><i class="fa fa-gears me-1"></i>全员杯控制台</a></h2>
    <nav class="small" id="toc">
        <ul class="list-unstyled">
            <li class="my-2">
                <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="true"
                        data-bs-target="#contents-collapse" aria-controls="contents-collapse">
                    比赛开始前
                </button>
                <ul class="list-unstyled ps-3 collapse show" id="contents-collapse" style="">
<!--                    <li><a class="d-inline-flex align-items-center rounded" href="/dashboard">开放供题管理</a></li>-->
                    <li><a class="d-inline-flex align-items-center rounded" href="/dashboard/problems">题目管理</a></li>
                    <li><a class="d-inline-flex align-items-center rounded" href="/dashboard/contests">比赛管理</a></li>
                    <li><a class="d-inline-flex align-items-center rounded" href="/dashboard/contests/setDetails">设置考生须知</a></li>
                    <li><a class="d-inline-flex align-items-center rounded" href="/dashboard/problems/settings">设置比赛题目</a></li>
                    <li><a class="d-inline-flex align-items-center rounded" href="/dashboard/preview">试题册预览</a></li>
                </ul>
            </li>
            <li class="my-2">
                <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="true"
                        data-bs-target="#forms-collapse" aria-controls="forms-collapse">
                    比赛进行中
                </button>
                <ul class="list-unstyled ps-3 collapse show" id="forms-collapse" style="">
                    <li><a class="d-inline-flex align-items-center rounded" href="#overview">实时反馈</a></li>
                    <li><a class="d-inline-flex align-items-center rounded" href="#disabled-forms">阅卷系统</a></li>
                    <li><a class="d-inline-flex align-items-center rounded" href="#sizing">查看所有提交</a></li>
                </ul>
            </li>
            <li class="my-2">
                <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="true"
                        data-bs-target="#components-collapse" aria-controls="components-collapse">
                    管理员功能
                </button>
                <ul class="list-unstyled ps-3 collapse show" id="components-collapse" style="">
                    <li><a class="d-inline-flex align-items-center rounded" href="/dashboard/users/permission">授予管理权限</a></li>
                    <li><a class="d-inline-flex align-items-center rounded" href="/dashboard/users/resetpw">用户密码重置</a></li>
<!--                    <li><a class="d-inline-flex align-items-center rounded" href="#alerts">审计数据</a></li>-->
                </ul>
            </li>
        </ul>
    </nav>
</aside>