<div class="container-fluid QybColorDark2 p-5 text-white">
    <h5 class="pb-3">立即注册，即可参与全员杯竞赛，展现你的数学实力！</h5>
    <button class="btn QybColorButton" type="button" onclick="location='/auth/register'">立即注册</button>
</div>
<%include footer-logined%>
