<div class="container-fluid QybColorDark1 p-4">
    <footer class="row ps-4 pe-3 py-3 pd-3">
        <div class="col-md-4 my-2">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <!--                <img src="/images/logo.png" width="98" height="102" class="d-inline-block align-text-mid" alt="全员杯竞赛">-->
                <img src="https://qyb-static-res-1252542694.cos.ap-beijing.myqcloud.com/logo.png" width="98" height="102" class="d-inline-block align-text-mid" alt="全员杯竞赛">
            </a>
            <% include copyright %>
        </div>


        <div class="col-md my-2 text-light">
            <h6>关于全员杯</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">关于我们</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">常见问题解答</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">考试考纲</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">赞助我们</a></li>
            </ul>
        </div>

        <div class="col-md my-2 text-light">
            <h6>往届试题参考</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">挑战赛试题</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">数学竞赛高中组</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">数学竞赛初中组</a></li>
            </ul>
        </div>

        <div class="col-md my-2 text-light">
            <h6>加入我们</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">我有一道绝妙的题目</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">如何加入命题组</a></li>
            </ul>
        </div>

    </footer>
</div>