<a class="navbar-brand" href="/">
    <%if(colorstyle==='light'){%>
        <img src="https://qyb-static-res-1252542694.cos.ap-beijing.myqcloud.com/minilogo.png" width="35" height="30" class="d-inline-block align-text-mid" alt="全员杯竞赛">
    <%} else{%>
        <img src="https://qyb-static-res-1252542694.cos.ap-beijing.myqcloud.com/minilogo-dark.png" width="35" height="30" class="d-inline-block align-text-mid" alt="全员杯竞赛">
    <%}%>
        <span class="QybColorFont">全员杯竞赛</span>
</a>
<button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>